---
import Layout from '../../layouts/Layout.astro';
import { Header, Footer, LearnLanding } from '../../components/Islands';
---

<Layout title="Learning Path | Agentic Loops">
	<Header client:load />
	<main style="padding-top: 60px;">
		<LearnLanding client:load />
	</main>
	<Footer client:load />
</Layout>
