---
import Layout from '../layouts/Layout.astro';
import { Header, Hero, About, TutorialsPreview, LearnPreview, PatternsPreview, Footer } from '../components/Islands';
---

<Layout title="Agentic Loops">
  <Header client:load />
  <main>
    <Hero client:load />
    <About client:visible />
    <TutorialsPreview client:visible />
    <LearnPreview client:visible />
    <PatternsPreview client:visible />
  </main>
  <Footer client:visible />
</Layout>
